@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --color-brand-primary: #FFC229;
  --color-brand-secondary: #4A2B5E;
  
  --bg-main: #F8F9FD;
  --bg-surface: #FFFFFF;
  
  --text-heading: #1F2937;
  --text-body: #4B5563;
}

[data-theme="dark"] {
  --color-brand-primary: #FFC229; 
  --color-brand-secondary: #2D2D3A;
  
  --bg-main: #18181B;
  --bg-surface: #23232A;
  
  --text-heading: #FFFFFF;
  --text-body: #D1D5DB;
}

@theme {
  --color-primary: var(--color-brand-primary);
  --color-secondary: var(--color-brand-secondary);
  
  --color-background: var(--bg-main);
  --color-surface: var(--bg-surface);
  
  --color-heading: var(--text-heading);
  --color-body: var(--text-body);
}

body {
  background-color: var(--bg-main);
  color: var(--text-heading);
  transition: background-color 0.3s ease, color 0.3s ease;
}